.file_list {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin: 20px auto;
    padding: 10px;
    border: 3px dotted black;
  }

.file_list img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }